.field {
	display: inline-block;
	margin-right: 10px;
	padding-left: 15px;
	min-width: 200px;
}

#j1 {
	background-image: none;
	background-color: #F6F6F6;
}

.field:first-of-type {
	padding: 0;
}

#browse {
	width: 150px;
}