#contact-us {
	position: fixed;
	z-index: 9999;
	right: 20px;
	bottom: 20px;
	width: 120px;
	height: 40px;
	background-color: rgba(0,0,0,0.4);
	color:#fff;
	font-size: 14pt;
	border-radius: 6px;
	text-align: center;
	padding-top: 10px;
	cursor: pointer;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #1E70BF;
	text-decoration: underline;
}

.ui.dropdown {
	max-width: 800px;
}

@media only screen and (max-width: 767px) {
	.ui.selection.dropdown .menu {
		max-height: 16.02857142rem;
	}
}
@media only screen and (min-width: 768px) {
	.ui.selection.dropdown .menu {
		max-height: 12.0214285763rem;
	}
}
@media only screen and (min-width: 992px) {
	.ui.selection.dropdown .menu {
		max-height: 16.02857143rem;
	}
}
@media only screen and (min-width: 1920px) {
	.ui.selection.dropdown .menu {
		max-height: 21.37142857rem;
	}
}

.jumbotron {
	background-color: #F2FAF9;
	padding: 30px;
}

.jumbotron-main {
	background-image: url('../img/cover.jpg');
	background-size: cover;
	height: 220px;
	transition: height 0.5s ease-out;
	border-radius: 0;
	margin-bottom: 0;
}

#advanced {
	margin-bottom: 20px;
}

#advanced-toggle {
	cursor: pointer;
	width: 100%;
	text-align: right;
}

#arrow {
	display: inline-block;
	transition: transform 0.3s ease-in-out;
}

.inline-field {
	width: 100%;
}

.card-text-min {
	overflow: hidden;
}

.card {
	transition: background-color 0.5s ease-out;
	border-radius: 5px;
}

.list-card {
	cursor: pointer;
}

.list-card:hover {
	background-color: #f6f6f6;
}

.fa-arrow-alt-circle-left {
	cursor: pointer;
}